/* Start Variables */
:root{
    --main-color: #48A6A7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: "Work Sans" , sans-serif;
    line-height: 1.15;
}
.sec-bg{ background-color: var(--section-background);}
.py-60{ padding: 60px 0;}
.fw-800{ font-weight: 800;}
.fs-18{ font-size: 18px;}
/* End Global Rules */
/* Start Components */
.sec-head{
    color: #ebeced;
    font-size: 100px;
    letter-spacing: -3px;
}
.sec-head + p {
    margin: -37px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px) {
    .sec-head {
        font-size: 60px;
  }
    .sec-head + p{
        margin: -20px 0 0;
  }
}
/* End Components */
/* Start Header */
.header{ padding: 20px;}
.header .logo{ width: 60px;}
.header .links .icon{ width: 30px;}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: var(--main-duration);
}
.header .links:hover .icon span:nth-child(2){ width: 100%;}
.header .links ul{
    list-style: none;
    background-color: #f6f6f6;
    min-width: 200px;
    top: calc(100% + 15px);
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul{ display: block !important;}
.header .links ul li a{
    padding: 15px;
    color: #333;
    transition: var(--main-duration);
}
.header .links ul li a:hover{ padding-left: 25px;}
.header .links ul li:not(:last-child){ border-bottom: 1px solid #ddd;}
/* End Header */
/* Start Landing Section */
.landing{
    background: url("../images/landing.jpg") center /cover no-repeat;
    height: calc(100vh - 64px);
}
.landing .caption{
    width: 320px;
    max-width: 100%;
}
.landing .caption h1{
    font-size: 50px;
    color: var(--main-color);
}
.landing .caption p{
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features .feat{ padding: 20px;}
.features .feat i{ color: var(--main-color);}
.features .feat h3{ margin: 30px 0;}
.features .feat p{
    font-size: 17px;
    line-height: 1.8;
    color: #777;
}
/* End Features */
/* Start Services  */
.services .content{ margin-top: 100px;}
.services .content .srv{ margin-bottom: 40px;}
.services .content .srv i{ color: var(--main-color , #333);}
.services .content .srv .text h3{ margin: 0 0 20px;}
.services .content .srv .text p{
    color: #444;
    line-height: 1.6;
}
.services .content .image img{ width: 260px;}
.services .content .image::before{
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 30px;
    z-index: -1;
}
/* End Services  */
/* Start Portfolio */
.portfolio .content{ margin-top: 80px;}
.portfolio .content .card img{ max-width: 100%;}
.portfolio .content .card .info { padding: 20px;}
.portfolio .content .card .info p {
    color: #777;
    line-height: 1.6;
}
/* End Portfolio */
/* Start About */
.about { padding: 60px 0 120px;}
.about .content{ margin-top: 100px;}
.about .content .image {
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .content .image {
        margin: 0 auto 60px;
    }
}
.about .content .image img{ max-width: 100%;}
.about .content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .content .image::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 380px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}
@media (max-width: 991px) {
    .about .content .image::before,
    .about .content .image::after {
        display: none;
    }
}
.about .content .text { flex-basis: calc(100% - 500px);}
.about .content .text p:first-of-type { margin-bottom: 50px;}
.about .content .text hr { border: 1px inset var(--main-color);}
.about .content .text p:last-of-type { color: #777;}
/* End About */
/* Start Contact */
.contact .info .label {
    font-size: 35px;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-top: 35px;
    margin-bottom: 15px;
}
.contact .info .link {
    font-size: 35px;
    color: var(--main-color);
}
.contact .info .social { margin-top: 20px;}
.contact .info .social a {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    padding: 30px 10px;
}
.footer span { color: var(--main-color);}
/* End Footer */